<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live Video Object Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="home-container">
        <h1 class="fade-in">Welcome to Live Video Object Detection</h1>
        <p class="fade-in">Click the button below to start the video detection.</p>
        <a href="{{ url_for('index') }}" class="btn fade-in">Start Video Detection</a>
    </div>
</body>
</html>
